[Desktop Entry]
Type=Application
Name=BlaziumLauncher Links
Exec=/opt/blazium/games/BlaziumLauncher %u
NoDisplay=true
Terminal=false
MimeType=x-scheme-handler/blazium;
